<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base{% endblock %}</title>
    {% block head %}
    {% endblock head %}
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="AutoGather">
                <a class="navbar-brand" href="/">AutoGather</a>
                <img src="/static/img/image.png" alt="" class="img-fluid">
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/datos">Datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/play_app">Play App</a>
                        </li>
                        {% if 'nombre' in session %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename='img/user_nav.png') }}" alt="Mi Imagen"
                                    style="width: 100px; height: 90px;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-start text-white">
                                <li><a class="dropdown-item" href="/user">Perfil</a></li>
                                <li><a class="dropdown-item" href="/logout">Cerrar sesion</a></li>

                            </ul>
                        </li>

                        {% else %}
                        <li class="nav-item">
                            <a class="login-button nav-link" href="/iniciar_sesion">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>

        {% block main %}

        {% endblock main %}
    </main>

</body>

</html>