{% extends "base.html" %}
{% block title %}
Datos
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'style/style.css')}}" />
<link rel="shortcut icon" href="app/auth/templates/favicon.icofavicon.ico" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<link rel="stylesheet" href="{{url_for('static', filename = 'style/nav_style.css')}}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename = 'style/style_datos.css')}}" />


{% endblock %}
{% block main %}

<h2>Tus Vehículos</h2>

<table class="contenedor_red">
    <thead>
        <tr class="red_tabla">
            <th>Color del Auto</th>
            <th>Tipo de Vehículo</th>
            <th>Patente</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in info1 %}
        <tr class="red_tabla">
            <td>{{ vehiculo.color }}</td>
            <td>{{ vehiculo.tipo_vehiculo }}</td>
            <td>{{ vehiculo.matricual }}</td>
            <td>
                <form action="/deleted" method="post">
                    <input type="hidden" name="id" value="{{ vehiculo.id }}">
                    <a href="#" onclick="this.parentNode.submit()">
                        <img src="{{ url_for('static', filename='img/delete.png') }}" alt="Mi Imagen"
                            style="width: 50px; height: 60px;">
                    </a>
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="button-container">
    <button class="azul-button">Ver Más</button>
</div>

<h2>Mas Vehículos</h2>

<table class="blue-table">
    <thead>
        <tr>
            <th>Color del Auto</th>
            <th>Tipo de Vehículo</th>
            <th>Patente</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo2 in info2 %}
        <tr>

            <td>{{ vehiculo2.color }}</td>
            <td>{{ vehiculo2.tipo_vehiculo }}</td>
            <td>{{ vehiculo2.matricual }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="button-container">
    <button class="rojo-button">Ver Más</button>
</div>

{% endblock %}