<footer class="footer text-white">
    <div class="container">
        <h3 class="text-center">AutoGather</h3>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="mr-3">
                        <a href="https://github.com/daniel234423" class="text-white">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li class="mr-3">
                        <a href="https://www.linkedin.com/Daniel Nuñez" class="text-white">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <article class="p-fot">
        <p>© Derechos de autor 2023. Hecho por daniel nuñez</p>
    </article>
</footer>