<table>
    <thead>
        <tr>
            <th>Color del Vehículo</th>
            <th>Tipo de Vehículo</th>
            <th>Patente</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in info %}
        <tr>
            <td>{{ vehiculo.color }}</td>
            <td>{{ vehiculo.tipo_vehiculo }}</td>
            <td>{{ vehiculo.matricual }}</td>
            <td>
                <form action="/deleted_app" method="post">
                    <input type="hidden" name="id" value="{{ vehiculo.id }}">
                    <a href="#" onclick="this.parentNode.submit()">
                        <img src="{{ url_for('static', filename='img/delete.png') }}" alt="Mi Imagen"
                            style="width: 50px; height: 60px;">
                    </a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>